.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.jumbo2{
	height: 100vh;
	text-align: center;
  margin-bottom: 0
}
.jumbo3 {
	height: 100vh;
	text-align: center;
  margin-bottom: 0;
  background-color: skyblue
}

.jumbo2 .jumbo3 div {
	text-align: center;
}

.jumbo2 .jumbo3 h2
 {
   text-align: center;
   color: #777;
 }

.jumbo2 .jumbo3 button {

	display: inline-block;
}

.logo {
  width: 2rem
}
