.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.jumbo2{
	height: 100vh;
	text-align: center;
}

.jumbo2 div {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.jumbo2 h2
 {

   color: #777;
 }

.jumbo2 button {

	display: inline-block;
}

.logo {
  width: 2rem
}
